<!doctype html>
<html>

<head>
	<title>DiscordBuild.info</title>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="icon" href="/static/favicon.ico">
</head>

<body>
	<div id="header">
		<h1>DiscordBuild.info</h1>
	</div>

	<div id="wrapper">
		<div class="card" id="stable">
			<h3>Stable</h3>
			<p class="build_number"><i class="fas fa-spinner"></i></p>
			<p class="version_hash"><i class="fas fa-spinner"></i></p>
			<a href="https://discordapp.com/api/download?platform=win"><i class="fab fa-windows"
					data-tippy="Download Windows Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="https://discordapp.com/api/download?platform=osx"><i class="fas fa-apple-alt"
					data-tippy="Download OSX Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="https://discordapp.com/api/download?platform=linux"><i class="fab fa-linux"
					data-tippy="Download Linux Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="/api/stable.json" target="_black"><i class="fas fa-file-code" data-tippy="API" data-tippy-delay="0"
					data-tippy-arrow="true"></i></a>
		</div>
		<div class="card" id="ptb">
			<h4>Public Test Build</h4>
			<p class="build_number"><i class="fas fa-spinner"></i></p>
			<p class="version_hash"><i class="fas fa-spinner"></i></p>
			<a href="https://discordapp.com/api/download?platform=win"><i class="fab fa-windows"
					data-tippy="Download Windows Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="https://discordapp.com/api/download?platform=osx"><i class="fas fa-apple-alt"
					data-tippy="Download OSX Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="https://discordapp.com/api/download?platform=linux"><i class="fab fa-linux"
					data-tippy="Download Linux Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="/api/ptb.json" target="_black"><i class="fas fa-file-code" data-tippy="API" data-tippy-delay="0"
					data-tippy-arrow="true"></i></a>
		</div>
		<div class="card" id="canary">
			<h3>Canary</h3>
			<p class="build_number"><i class="fas fa-spinner"></i></p>
			<p class="version_hash"><i class="fas fa-spinner"></i></p>
			<a href="https://discordapp.com/api/download?platform=win"><i class="fab fa-windows"
					data-tippy="Download Windows Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="https://discordapp.com/api/download?platform=osx"><i class="fas fa-apple-alt"
					data-tippy="Download OSX Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="https://discordapp.com/api/download?platform=linux"><i class="fab fa-linux"
					data-tippy="Download Linux Client" data-tippy-delay="0" data-tippy-arrow="true"></i></a>
			<a href="/api/canary.json" target="_black"><i class="fas fa-file-code" data-tippy="API" data-tippy-delay="0"
					data-tippy-arrow="true"></i></a>
		</div>
	</div>

	<div id="footer">
		<p>Source Code / Contact: <a href="https://github.com/katabame/magicHammer" target="_blank">GitHub</a>, <a
				href="https://github.com/katabame/magicHammer/releases" target="_blank">Changelog</a></p>
		<p>CodeName magicHammer: Web r1, Server r2</p>
		<p>DiscordBuild.info is NOT associated with Discord Inc.</p>
	</div>

	<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
	<script defer src="/static/load.js"></script>
	<script>
	</script>
</body>

</html>